.App {
  text-align: center;
}

#new-quote {
  margin-bottom: 10px;
}

#quote-box {
  margin-top: 33%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
  width: 50%;
  background: hotpink;
}

.quote-component {
  padding-bottom: 10px;
}

#twitter-btn {
  width: 10%;
}
